body {
  font-size: 16px;
}

/** HEADER **/
#header-nav {
  background-color: LightGoldenRodYellow;
  border-bottom: 2px solid black;
}

.navbar-brand {
  padding-top: 25px;
  margin-bottom: 20px;
}

.navbar-brand h1 {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
#collapsable-nav {
  padding: 0;
}

#nav-list {
  margin: 0;
  width: 100%;
}

#nav-list li {
  border-top: 2px solid black;
}

#nav-list a {
  text-align: center;
  color: black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

#main-content {
  background-color: AliceBlue;
  width: 98%;
}

#title h2 {
  font-weight: bold;
}

#title {
  margin-bottom: 40px;
}